.navbar{
  margin:-8px;
  background-color:#324C9C;
  color: white;
  padding: 15px;
  position: relative;
  box-shadow: 0px 2px 3px #000;
}
.websiteName{
  margin-left: 13%;
  margin-top: 5px;
  padding: 5px;
  font-size: 35px;
}
.name{position: absolute;
  margin-left: 80%;
  color:white;
  font-size: 18px;
  margin-top:-2.3%;
}
.search{position: absolute;
margin-left: 30%;
margin-top:-2.5%;
}
#searchbar{
  width: 556px;
  height: 20px;
}

.middle{
  margin-left: 13%;
  margin-right: 10%;
}
.imageWide img{
  width: 1000px;
  height: 400px;
}
.topInfo{
  display: block;
  position:absolute;
}
.imagePro img{
  height: 200px;
  width: 200px;
  margin-top:-75%;
  margin-left: 15px;
}
.infoBar{
  display: inline-block;
  border: 1px solid black;
  margin-top: -5px;
  padding-top:19px;
  width: 998px;
  height:37px;
}
.infoBox a{
  padding: 19px;
  padding-left: 48px;
  padding-right: 47px;
  margin-right: -4px;
  border: 1px solid black;
  text-decoration: none;
  vertical-align: middle;
  color:black;
}
.infoBox a:hover{
  background-color:#333;
}
#true{
  padding-left:144px;
  margin-right: -2px;
}
#info{
 border-right:none;
}
.secondTitle{
  width:958px;
  padding:20px;
  background-color: #999;
  position: relative;
  border: 1px solid black;
}
.secondTitle h2{
  text-align:center;
}
.secondTitle button{
  margin-left: 820px;
  margin-top: -51px;
  padding: 6px;
  position: absolute;
  background-color:#324C9C;
  color: white;
  box-shadow: 1px 1px 3px #000;
  border: 1px solid #324C9C;
}
.left{
  float: left;
  margin: 10%;

}
.left #top{
  margin-bottom: -20px;
  margin-left: 3px;
}
.left table{
  text-align: left;
  line-height: 25px;  
}
.right{
  padding-top: 85px;
  height: 475px;
  width:998px;
  border:1px solid black;
}
.right p{
  margin-right: 50px;
}
.signIn{
  margin-top: -2.5%;
  float: right;
  position: relative;
  padding: 5px;
  margin-right: 6px;
}
.signIn input{
  margin-right: 1em;
  border: 1px solid black;
}
.signIn p{
  font-size: 14px;
  position: absolute;
  display: inline-block;
  margin-top: -20px;
}
.signIn button {
  margin-right: 5px;
  border: 1px solid black;
  color: black;
  box-shadow: 1px 1px 5px #000;
  background-color: #75A3DE;
}
.leftFloat{
  margin: 1em;
  margin-left: 11%;
  margin-top: 12%;
  float: left;
  line-height: 30px;
}
.leftFloat h2{font-size: 32px;}
.leftFloat li{
  font-size: 18px;
}
.rightFloat{
  margin-top: 7%;
  float:right;
  display: block;
  margin-right:12%;
}
.rightFloat h1{
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.rightFloat .name{
  display: inline-block;
  margin-bottom: 5%;
}
.rightFloat .single{
  display: block;
  width: 1px;
  margin-right: 10%;
}
#firstName, #lastName{
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom:15px;
}
#email, #password{
  width: 355px;
  margin-bottom: 35px;
  border-radius: 4px;
}
#pad, #email, #firstName, #lastName, #password{
  padding-left: 3px;
}
.rightFloat label{
  display: inline-block;
  margin-right: 5px;
}
.rightFloat select{
  margin-right: 10px;
}
.submit{
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 1px;
  border: 1px solid black;
  box-shadow: 0px 2px 3px #000;
  height: 30px;
  width:355px;
}
.pics{
  width: 958px;
  padding:20px;
  border: 1px solid black;
}
.rect{ 
  display: inline-block;
  height:100px;
  width: 300px;
  border: 1px solid black;
  padding:10px;
  margin: 5px;
  margin-left: 100px;
}
.rect img{
  margin-top:20px;
  height: 70px;
  width: 70px;
  position: relative;
}
.rect a{
  position: absolute;
  margin-top: 30px;
}
.rect button{
  position: absolute;
  margin-left:200px;
  margin-top: -45px;
  box-shadow: 1px 1px 5px #000;
  border: 1px solid black;
}
.rect p{
  position: relative;
  margin-left: 80px;
  margin-top: -45px;
}